<div class="contenedor">
    <div style="margin: auto;">
        <h1>Pagina no encontrada</h1>
        <p class="zoom-area"> Error. </p>
        <section class="error-container">
          <span>4</span>
          <span><span class="screen-reader-text">0</span></span>
          <span>4</span>
        </section>
        <div class="link-container">
          <button mat-button (click)="irAHome()" class="more-link">Volver a la página principal</button>
          <button mat-button (click)="irARegistro()" class="more-link">Ir al registro</button>
        </div>
    </div>
</div>