<div class="nav-container position-fixed top-0 w-100">
  <mat-drawer-container  [hasBackdrop]="false" style="height: 100%;" >
    <!-- Drawer sidebar -->
    <mat-drawer #drawer mode="over" class="drawer-container">
      <div class="menu-container">
        <div class="menu" [class.mobile_menu]="true">
          <div class="box-menu">
              <div class="icon-box"> 
                  <mat-icon>public</mat-icon>
              </div>
              <div class="title-box"> Dashboard</div>
          </div>
          <div class="box-menu">
              <div class="icon-box"> 
                  <mat-icon>videocam</mat-icon>
              </div>
              <div class="title-box"> Monitoreo global</div>
          </div>

          <div class="box-menu">
              <div class="icon-box"> 
                  <mat-icon>villa</mat-icon>
              </div>
              <div class="title-box">Plantas</div>
          </div>
          
          <div class="box-menu">
              <div class="icon-box"> 
                  <mat-icon>wifi_tethering</mat-icon>
              </div>
              <div class="title-box">Parametros</div>
          </div>
          
          <div class="box-menu">
              <div class="icon-box"> 
                  <mat-icon>logout</mat-icon>
              </div>
              <div class="title-box">Cerrar sesion</div>
          </div>
        </div>
      </div>
    </mat-drawer>

    <!-- Main content area -->
    <mat-drawer-content class="drawer-content">
      <!-- Main toolbar -->
      <mat-toolbar class="toolbar-container">
          <button mat-icon-button (click)="drawer.toggle()" aria-label="Open menu">
              <mat-icon>menu</mat-icon>
          </button>
          <mat-icon>person</mat-icon>
          <mat-icon>notifications</mat-icon>
      </mat-toolbar>

      <!-- Content goes here -->
      <div class="content">
        <!-- Page content will be placed here -->
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>