<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="row box-area">
        <div class="col-md-6  justify-content-center align-items-center flex-column left-box">
            <div class="text-container">
                <h1 class="responsive-title">Iniciar sesión</h1>
                <p class="responsive-text">
                    Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa aprovechando al máximo nuestra plataforma.
                </p>
                <div class="mt-4">
                    <ul class="list-unstyled">
                        <li class="d-flex align-items-center mb-3">
                            <div class="item">
                                <mat-icon aria-hidden="false" fontIcon="dynamic_form" style="width: 40px; height: 40px;"></mat-icon>
                                <div class="item-text">
                                    <p class="text-white item-title">Monitoreo general</p>
                                    <p class="text-white item-description">Administra, monitorea mutiples plantas de forma centralizada.</p>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <div class="item">
                            <mat-icon aria-hidden="false" aria-label="estrella" fontIcon="stars" style="width: 40px; height: 40px;"></mat-icon>
                            <div class="item-text">
                                <p class="text-white item-title">Notificaciones en tiempo real</p>
                                <p class="text-white item-description">Recibi notificaciones en tiempo real sobre las mediciones.</p>
                            </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-6 right-box">
            <div class="form-container">
                <div class="mb-4 ">
                    <h1 style="font-size: 36px; font-weight: 600;">Portal de Monitoreo</h1>
                    <p style="font-size: 25px; font-weight: 500;">Iniciar Sesión.</p>
                </div>
                <form [formGroup]="loginForm">
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput
                               placeholder="pat@example.com"
                               (blur)="updateErrorMessage()"
                               required
                               formControlName="email"
                               >
                        @if (this.loginForm.controls.email.invalid) {
                          <mat-error>{{errorMessage}}</mat-error>
                        }
                      </mat-form-field>
    
                      <mat-form-field class="w-100">
                        <mat-label>Contraseña</mat-label>
                        <input matInput 
                               [type]="hidePassword ? 'password' : 'text'"
                               formControlName="password"
                               >
                        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
    
                    <div class="input-group mb-3 d-flex justify-content-between buttons-form">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                        <button [disabled]="!loginForm.valid" (click)="login()" mat-raised-button class="btn fs-6 rounded-3"  style="background-color: #33A3AA; color: white; width: 200px; padding: 25px;">Iniciar Sesión</button>
                    </div>
                    <span style="color: #84818A;">Protegido por reCAPTCHA y sujeto a la 
                        <a style="color: #33A3AA;" href="#">Politica de
                        Privacidad</a> y <a style="color: #33A3AA;" href="#">Condiciones.</a>
                    </span>
                </form>
            </div>
        </div> 
    </div>
</div>