.box-area {
  width: 100%;
  height: 100%;
  background: #29868F

}

.left-box {
  background-image: linear-gradient(to bottom, rgba(51, 163, 170, 0.8), rgba(16, 112, 118, 0.8)), url('../../../../assets/images/login_fondo.png');
  background-size: cover;
  // background-size: 55%;
  background-repeat: no-repeat;
  color: white;
  padding: 128px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-container {
  transform: scale(1.3);
  // background-color: red;
  width: 60%;
}

.responsive-title {
  font-size: 48px;
  font-weight: 600;
}

.responsive-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.item {
  display: flex;
  margin-top: 20px;
}

.item mat-icon {
  font-size: 33px;
  color: #FFB84B;
}

.item-text {
  margin-left: 20px;
}


.item-title {
  font-weight: 500;
  font-size: 14;
  margin-bottom: 0;
}

.item-description {
  font-size: 12px;
  font-weight: 400;
}


.right-box {
  display: flex;
  background-color:#FBFCFC;
  padding: 40px 30px;
  border-top-left-radius: 30px; 
  border-bottom-left-radius: 30px; 
}

.form-container {
  height: 500px;
  margin: auto;
  padding: 10px;
}

.buttons-form{
  // background-color: red;
  align-items: center;
}

.buttons-form a{
  color: black;
  text-decoration: none;
}

@media(max-width: 1500px){
  .text-container{
    width: 90%;
    transform: scale(1.3);

  }

  @media (max-width: 950px){
    .left-box{
      display: none;
    }
    
    .right-box{
      width: 100%;
    }
    
  }

}